/*The Header CSS Styling*/
header{
	 padding-top: 0.25em;
	 padding-bottom: 0.25em;
	 color:rgb(0,184,255);
	 background-color: black;
	 font-size:5vw;
	 text-align: center;
	 width: 100%;
	 top: 0%;
}

#title{
	 max-width: 400px;
	 width:90%;
	 background-color: black;
	 display:block;
	 margin-left:auto;
	 margin-right:auto;
}

body{
	 background-color: black;
}

#appContainer{
	 border: 3px solid rgb(20,90,155);
	 background-color: rgb(36,36,36);
	 margin-left:auto;
	 margin-right:auto;	
}

.webApplication{
	 width :80%;
	 text-align: center;
	 padding-left: 10%;
	 padding-right: 10%;
	 margin-left:auto;
	 margin-right:auto;	
}

#postCardCreator{
	 display:inline;
	 margin-left:auto;
	 margin-right:auto;	
	 width: 100%;
}

#go_Back_Button{
	 display:none;
	 border: 3px solid rgb(0,0,95);
	 background-color: white;
}

#postCardToolsCanvas{
	 margin-left:auto;
	 margin-right:auto;	
	 display:block;
	 max-width: 550px;
	 height: calc(20px + 0.01vw);
	 /* width: 75%; */
	 border: 3px solid rgb(0,0,95);
	 overflow: hidden;
}

#textToolsCanvas{
	 background-color: grey;
	 display:none;
	 margin-left:auto;
	 margin-right:auto;		
	 max-width: 550px;
	 width: 75%;
	 border: 3px solid rgb(0,0,95);
}

#colorCanvas{
	 border: 3px solid rgb(0,0,95);
	 margin-left:auto;
	 margin-right:auto;	
	 display:block;
	 width: 75%;
	 max-width: 550px;
}

#postCardCanvas{
	 margin-left:auto;
	 margin-right:auto;	
	 display:block;
	 max-width: 550px;
	 width: 75%;
	 border: 3px solid rgb(0,0,95);
	 background-color: white;
}

#results{
	 border: 3px solid rgb(0,0,95);
	 display:none;  /* display:block; */
	 background-color: black;
	 margin-left:auto;
	 margin-right:auto;
	 width: 75%;
	 max-width: 550px;
}

#receiptEmail{
	 border: 3px solid rgb(0,0,95);
	 display:none;  /* display:block; */
	 margin-left:auto;
	 margin-right:auto;
	 width: 75%;
	 max-width: 550px;
	 font-size: calc(10px + 1vw);	
	 /* https://stackoverflow.com/questions/40528290/how-to-implement-max-font-size */
	 color: rgb(130,115,220);
	 background-color: black;
}

#vidCanvas{
	 display:none;  /* display:block; */
	 overflow: hidden;
}

#vidDisplay{
	 border: 3px solid rgb(0,0,95);
	 margin-left:auto;
	 margin-right:auto;
	 width: 75%;
	 max-width: 550px;
}

#webCamPictureOption{
	 border: 3px solid rgb(0,0,95);
	 display:none;  /* display:block; */
	 margin-left:auto;
	 margin-right:auto;
	 width: 75%;
	 max-width: 550px;
}







