/*The Header CSS Styling*/
header{
	 padding-top: 0.25em;
	 padding-bottom: 0.25em;
	 color:rgb(0,184,255);
	 background-color: black;
	 font-size:5vw;
	 text-align: center;
	 width: 100%;
	 top: 0%;
}

#title{
	 max-width: 400px;
	 width:90%;
	 background-color: black;
	 display:block;
	 margin-left:auto;
	 margin-right:auto;
}

body{
	 background-color: black;
}

#appContainer{
	 border: 3px solid rgb(20,90,155);
	 background-color: rgb(25,25,25);
	 margin-left:auto;
	 margin-right:auto;	
}

.webApplication{
	 width :80%;
	 text-align: center;
	 padding-left: 10%;
	 padding-right: 10%;
	 margin-left:auto;
	 margin-right:auto;	
}

#yourEmailInfo{
	 background-color: grey;
	 display:none;
	 border-style: solid;
	 margin-left:auto;
	 margin-right:auto;		 
}

#postCardCreator{
	 display:inline;
	 margin-left:auto;
	 margin-right:auto;	
	 width: 100%;
}

canvas{
	 margin-left:auto;
	 margin-right:auto;	
	 display:block;
	 max-width: 500px;
	 width: 75%;
	 border: 3px solid rgb(0,0,95);
	 background-color: white;
}

#receiptEmail{
	 /* border: 3px solid rgb(0,0,95); */
	 display:block;
	 margin-left:auto;
	 margin-right:auto;
	 width: 80%;
	 font: bold;
	 font-weight: bold;
	 font-size: calc(12px + 1vw);	
	 /* https://stackoverflow.com/questions/40528290/how-to-implement-max-font-size */
	 color: rgb(130,115,220);
}